# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Virtual Environments
# ===========================
venv/
.venv/
env/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# PyCharm
# ===========================
.idea/

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Python Cache
# ===========================
.pytest_cache/
.mypy_cache/

# ===========================
# Streamlit Cache
# ===========================
.streamlit/secrets.toml

# ===========================
# Uploaded PDFs
# ===========================
backend/uploads/*
!backend/uploads/.gitkeep

# ===========================
# Generated PDFs
# ===========================
backend/outputs/*
!backend/outputs/.gitkeep

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db